In [1]:
import pandas as pd

In [2]:
data={
    'student':['ishi','ashu','vansh'],
    'marks':[34,56,37]
}
a=pd.DataFrame(data)
a

  student  marks
0    ishi     34
1    ashu     56
2   vansh     37

In [3]:
pd.__version__

'1.0.5'

In [4]:
a=[1,2,3,4]
i=pd.Series(a)
i

0    1
1    2
2    3
3    4
dtype: int64

In [5]:
a[0]

1

In [6]:
a=[1,2,3,4]
i=pd.Series(a, index=['w','x','y','z'])
i

w    1
x    2
y    3
z    4
dtype: int64

In [7]:
a={'a':1,'b':2,'c':3}
i=pd.Series(a)
i

a    1
b    2
c    3
dtype: int64

In [8]:
a={'a':1,'b':2,'c':3}
i=pd.Series(a, index=['b','c'])
i

b    2
c    3
dtype: int64

In [9]:
a={'a':1,'b':2,'c':3}
i=pd.DataFrame(a, index=[0,1,2])
i

   a  b  c
0  1  2  3
1  1  2  3
2  1  2  3

In [10]:
i.loc[0]

a    1
b    2
c    3
Name: 0, dtype: int64

In [11]:
i.loc[2]

a    1
b    2
c    3
Name: 2, dtype: int64

In [12]:
i

   a  b  c
0  1  2  3
1  1  2  3
2  1  2  3

In [13]:
i.loc[[0,1]]

   a  b  c
0  1  2  3
1  1  2  3

In [14]:
a=pd.read_csv('player.csv')
a

,Name,"""Team""","""Position""","""Height(inches)""","""Weight(lbs)""","""Age"""
0,Adam Donachie,"""BAL""","""Catcher""",74,180,22.99
1,Paul Bako,"""BAL""","""Catcher""",74,215,34.69
2,Ramon Hernandez,"""BAL""","""Catcher""",72,210,30.78
3,Kevin Millar,"""BAL""","""First Baseman""",72,210,35.43
4,Chris Gomez,"""BAL""","""First Baseman""",73,188,35.71
5,Brian Roberts,"""BAL""","""Second Baseman""",69,176,29.39
6,Miguel Tejada,"""BAL""","""Shortstop""",69,209,30.77
7,Melvin Mora,"""BAL""","""Third Baseman""",71,200,35.07
8,Aubrey Huff,"""BAL""","""Third Baseman""",76,231,30.19
9,Adam Stern,"""BAL""","""Outfielder""",71,180,27.05
10,Jeff Fiorentino,"""BAL""","""Outfielder""",73,188,23.88
11,Freddie Bynum,"""BAL""","""Outfielder""",73,180,26.96
12,Nick Markakis,"""BAL""","""Outfielder""",74,185,23.29
13,Brandon Fahey,"""BAL""","""Outfielder""",74,160,26.11
14,Corey Patterson,"""BAL""","""Outfielder""",69,180,27.55
15,Jay Payton,"""BAL""","""Outfielder""",70,185,34.27
16,Jay Gibbons,"""BAL""","""Designated Hitter""",72,197,30.00
17,Erik Bedard,"""BAL""","""Starting Pitcher""",73,189,27.99
18,Hayden Penn,"""BAL""","""Starting Pitcher""",75,185,22.38
19,Adam Loewen,"""BAL""","""Starting Pitcher""",78,219,22.89
20,Daniel Cabrera,"""BAL""","""Starting Pitcher""",79,230,25.76
21,Steve Trachsel,"""BAL""","""Starting Pitcher""",76,205,36.33
22,Jaret Wright,"""BAL""","""Starting Pitcher""",74,230,31.17
23,Kris Benson,"""BAL""","""Starting Pitcher""",76,195,32.31
24,Scott Williamson,"""BAL""","""Relief Pitcher""",72,180,31.03
25,John Parrish,"""BAL""","""Relief Pitcher""",71,192,29.26
26,Danys Baez,"""BAL""","""Relief Pitcher""",75,225,29.47

In [15]:
a.iloc[[0,1,2,3,4],[0,1,2,3,4]]

,Name,"""Team""","""Position""","""Height(inches)""","""Weight(lbs)"""
0,Adam Donachie,"""BAL""","""Catcher""",74,180
1,Paul Bako,"""BAL""","""Catcher""",74,215
2,Ramon Hernandez,"""BAL""","""Catcher""",72,210
3,Kevin Millar,"""BAL""","""First Baseman""",72,210
4,Chris Gomez,"""BAL""","""First Baseman""",73,188